{% extends "base.html" %} {% block title %} HDFF page {% endblock %}{% block content %}
<h2 
style="margin-top: 50px;"
>How Am I Feeling?</h2>
<div>
    <p>
    I've never felt good. I'm feeling okay this stable emotion, feeling dizzy, never been happy or sad just feel anything.
    I'am exhausted.
    I'am so tired that I can't feel, can't think, can't stand, just can't do.
    </p>
    <p>
        Sorry I couldn't write more I'll share more after I edit my notes!
    </p>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consequuntur pariatur dolorem distinctio perspiciatis. Earum qui reprehenderit architecto et, veniam ipsum minima, nobis dolorem animi repellendus, unde fugiat libero quam
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptas asperiores illum magni amet quibusdam, delectus laudantium neque ipsa perferendis voluptatibus! Voluptates culpa rerum, quisquam aliquid error quidem saepe ex?
    </p>
</div>
{% endblock %}